.main-container {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  object-fit: cover;
}
.imagen-reducida {
  display: flex;
  flex-direction: column;
  // width: 300px;
  // height: auto;
  align-items: center;
}
.imagen-reducida img:nth-child(1) {
  display: flex;
  width: 75%;
  height: auto;
  align-items: center;
}
.imagen-reducida img:nth-child(2) {
  display: flex;
  width: 12%;
  height: 180px;
  align-items: center;
}
.login-data {
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: var(--sm);
}
.login-data p:first-child {
  justify-content: center;
  width: 100%;
  border-top: 1px solid var(--very-light-pink);
  border-bottom: 1px solid var(--very-light-pink);
  color: cyan;
}
.login-data p:last-child {
  bottom: 10px;
  font-size: var(--sm);
  color: var(--black);
}
@media (max-width:640px) {
  .imagen-reducida img:nth-child(1) {
    display: flex;
    width: 85%;
    height: auto;
    align-items: center;
  }
  .imagen-reducida img:nth-child(2) {
    display: flex;
    width: 18%;
    height: 150px;
    align-items: center;
  }
}
