<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>loader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">loader</ion-title>
    </ion-toolbar>
  </ion-header>
  <main class="main-container">
    <div class="login-images">
      <img src="../../../assets/images/Portada_sunset.jpg" alt="sunset-image">
      <img src="../../../assets/images/Avatar_ap_1.jpg" alt="avatar-image">
    </div>
    <div class="login-data">
      <p>La Profe Amelia</p>
      <button class="init-button">Vamos ?</button>
      <p>JobTec - 2023 - Proyecto Académico / Derechos reservados</p>
    </div>
  </main>
</ion-content>
