ion-content{
  overflow-y: scroll;
  text-align: center;
//   height: 600px;
}

ion-list{
  height: 600px;
  overflow-y: scroll;
  // justify-content: center;
  // padding-left: 30px;
}

ion-item {
  --padding-start: 10px;
  --inner-padding-end: 5px;

  justify-self: center;
  height: 146px;
  width: 346px;
  padding-bottom: 3px;
  background-color: rosybrown;
}

ion-thumbnail {
  --size: 120px;
  // width: 200;
  // height: auto;
}
