/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

      // <!-- Prueba inicial insertando código de la web app -->
:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --vidh1: 190;
  --vidw1: 380;
}
body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  // font-family: cursive;
}
.grl-info {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: 95%;
  height: 100vh;
  // background-color: var(--black);
  bottom: 0px;
  top: 5px;
  left: 5px;
  right: 5px;
  // color: rgb(245, 39, 39);
  padding-left: 10px;
  padding-right: 10px;
}
.grl-info h3 {
  color:blanchedalmond
  // color: cyan;
}
.init-button {
  width: 120px;
  height: 32px;
  border: 8px solid rgb(210, 210, 136);
  border-radius: 16px;
  font-weight: bold;
  background-color:  rgb(210, 210, 136); //rgb(226, 226, 168);
  color: var(--black); //rgb(226, 226, 168);
  cursor: pointer;
  margin: 2px;
}
.play-button {
  width: 92px;
  height: 32px;
  border: 6px solid rosybrown; //rgb(210, 210, 136);
  border-radius: 16px;
  background-color: rosybrown; //rgb(210, 210, 136);
  // color: rgb(226, 226, 168);
  color: black; //rgb(71, 17, 157); // rgb(238, 190, 100);
  font-weight: bold;
  cursor: pointer;
  margin-right: 6px;
}

.mis-videos {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #000;
}
.login-data {
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: var(--sm);
}

      // <!-- FIN Prueba inicial insertando código de la web app -->
